<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/public/style.css"> <!--connection our CSS-->
</head>

<body>
    <h2 class="black">This is my Home Page</h2>
    <p>My name is Vladimir</p>
    <p>I am from Russia</p>

    <a href="/waterfalls">Click here to see my favourite waterfalls</a><br>
    <a href="/lakes">Click here to see my favourite lakes</a>
</body>

</html>