<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/public/style.css"> <!--connection our CSS-->
</head>

<body>

    <div class="box blue-border">
        <p class="bold-text">
            New Zealand is a beautiful country with many waterfalls and lakes.
        </p>
        <p class="small-text">
            People drown in lakes and waterfalls too. So take care.
        </p>
    </div>

    <div class="box green-border">
        <p class="bold-text">
            Some people injure themselves jumping off cliffs at waterfalls.
        </p>
        <p class="small-text">
            There are often hidden rocks which can cause serious harm including paralysis and even death.
        </p>
    </div>

</body>

</html>