<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/public/style.css"> <!--connection our CSS-->
</head>

<body style="background-image: url('/public/images/image.png');"> <!--create our background and show the path of image-->
  <h3>My Favourite Waterfalls</h3>
  <p class="red">Piroa Falls</p>
  <p class="blue">Rainbow Falls</p>
  <p class="aqua">Whangarei Falls</p>

  <h4>Items to take to a waterfall</h4>
  <ol class="white">
    <li>Water</li>
    <li>Food</li>
    <li>Towel</li>
  </ol>

  <p class="right-text">Image by Holger Detje from Pixabay - Legally free to download and use.</p>
  <p class="right-text">https://pixabay.com/photos/bridal-veil-fall-water-fall-52451/</p>
</body>

</html>

